
      <div class="content" style="height: 100vh;">
        <div class="row">
         <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Alterar Cadastro de Doador</h5>
              </div>
              <div class="card-body" style="box-sizing:initial;">
                <form>
                  <div class="row">
                    <div class="col-md-8 px-1 pl-3">
                      <div class="form-group">
                        <label for="nome" >Nome Completo <b class="required">*</b></label>
                        <input class="form-control" type="text" id="nome" value="<%= doador.nome %>" required>
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="cpf" >CPF</label>
                        <input class="form-control" type="text" id="cpf" value="<%= doador.cpf %>" maxlength="14" onkeyup="validarCPF(this.value); impedirLetras(this);" placeholder="999.999.999-27" >
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 px-1 pl-3">
                      <div class="form-group">
                        <label for="cep">CEP</label>
                        <input class="form-control" type="text" id="cep" value="<%= endereco.cep %>" class="mascCEP" onblur="preencherCidadeUFEBairroComCEP(this)">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="rua">Logradouro</label>
                        <input class="form-control" type="text" id="logradouro" value="<%= endereco.logradouro %>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 px-1 pl-3">
                      <div class="form-group">
                        <label for="numero">Número <b class="required">*</b></label>
                        <input class="form-control" type="text" id="numero" required value="<%= endereco.numero %>">
                      </div>
                    </div>

                    <input type="hidden" id="codigo"   value="<%= doador.codigo %>">
                    <input type="hidden" id="codigoEndereco"  value="<%= endereco.codigo %>">
                    <input type="hidden" id="codigoTelefone" value="<%= telefone.codigo %>">

                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="uf">UF</label>
                        <input class="form-control" type="text" id="uf" size="2" value="<%= endereco.uf %>">            
                      </div>
                    </div>


                    
                  </div>
                  <div class="row">
                    <div class="col-md-8 px-1 pl-3">
                      <div class="form-group">
                        <label for="complemento">Complemento</label>
                        <input class="form-control" type="text" id="complemento" value="<%= endereco.complemento %>">
                      </div>
                    </div>
                    <div class="col-md-4 pl-1">
                      <div class="form-group">
                        <label for="bairro">Bairro</label>
                        <input class="form-control" type="text" id="bairro" value="<%= endereco.bairro %>">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    
                    <div class="col-md-8 px-1 pl-3">
                      <div class="form-group">
                        <label for="cidade">Cidade</label>
                        <input class="form-control" type="text" id="cidade" value="<%= endereco.cidade %>">
                      </div>
                    </div>

                      <div class="col-md-4 pl-1">
                        <div class="form-group">
                          <label for="telefone">Telefone <b class="required">*</b></label>
                          <input class="form-control" type="text" id="telefone" maxlength="15" placeholder="(XX) X XXXX-XXXX" value="<%= telefone == null ? "" : telefone.numeroTel %>"  required>
                        </div>
                      </div>
                      
                    </div>
                  
                  <div class="row">
                    <div class="col-md-8 px-1 pl-3">
                      <div class="form-group">
                        <label for="tipo_doacao">Tipo de Doação <b class="required">*</b></label>
                        <select class="form-control" id="tipo_doacao" required>
                          <option value="">Selecione uma Opção</option> 
                          <option value="Alimentos" <% if(doador.tipo_doacao === 'Alimentos') {%>selected<%} %>>Alimentos</option>
                          <option value="dinheiro" <% if(doador.tipo_doacao === 'Dinheiro') {%>selected<%} %>>Dinheiro</option>
                          <option value="Outros" <% if(doador.tipo_doacao === 'Outros') {%>selected<%} %>>Outros</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button type="button" class="btn btn-primary btn-round" id="btnAlterar">Salvar Edição</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </div>
</div>
</div>
<script src="/js/doador/alterar.js"></script>
</body>
</html>