<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">

    <title></title>

    <link rel="stylesheet" href="/css/estilo.css">
    <link href="img/Icone_CrecheJunqueira.png" rel="icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     <!-- Google Web Fonts  -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap" rel="stylesheet">

      </style>
    </head>
    <body>
      <header >Deseja deletar o Doador?</header>
      <form>
        <div class="form-column">
          <div class="form-group">
            <label for="nome" >Nome Completo <b class="required">*</b></label>
            <input type="text" disabled id="nome" value="<%= doador.nome %>">
          </div>
          <div class="form-group">
            <label for="cpf" >CPF</label>
            <input type="text" disabled value="<%= doador.cpf %>" id="cpf">
          </div>
          <div class="form-group">
            <label for="rua" >Rua</label>
            <input type="text" id="logradouro" disabled value="<%= endereco.logradouro %>">
          </div>
          <div class="form-group">
            <label for="numero">Número <b class="required">*</b></label>
            <input type="text" id="numero" disabled value="<%= endereco.numero %>">
          </div>
          <div class="form-group">
            <label for="cep">CEP</label>
            <input type="text" id="cep" class="mascCEP" disabled value="<%= endereco.cep %>">
          </div>
        </div>
        <div class="form-column">
          <div class="form-group">
            <label for="complemento">Complemento</label>
            <input type="text" id="complemento" disabled value="<%= endereco.complemento %>">
          </div>
          <div class="form-group">
            <label for="bairro">Bairro</label>
            <input type="text" id="bairro" disabled value="<%= endereco.bairro %>">
          </div>
          <div class="form-group">
            <label for="cidade">Cidade</label>
            <input type="text" id="cidade" disabled value="<%= endereco.cidade %>">
          </div>
          <div class="form-group">
            <label for="uf">UF</label>
            <input type="text" id="uf" size="2" disabled value="<%= endereco.uf %>">
          </div>
            <input type="hidden" id="codigo"   value="<%= doador.codigo %>">
            <input type="hidden" id="codigoEndereco"  value="<%= endereco.codigo %>">
          <div class="form-group">  
            <label for="tipo_doacao">Tipo de Doação <b class="required">*</b></label>
            <select id="tipo_doacao" required>
              <option value="">--Selecione uma Opção--</option> 
              <option value="Alimentos">Alimentos</option>
              <option value="Dinheiro">Dinheiro</option>
              <option value="Outros">Outros</option>
            </select>
          </div>
        </div>
        <button type="button" class="submit" id="btnDeletar">Confirmar</button>
      </form>
    </body>
    <script src="/js/doador/deletar.js"></script>

  </html>