<script>
    document.addEventListener('DOMContentLoaded', function() {
    })
</script>

<h1 style="text-align: center;">Voluntários Cadastrados</h1>
<a class="btn btn-primary" href="voluntarios/cadastrar">Novo Voluntário</a>

<hr>
    <div>
        <table class="table table-striped">
            <thead>
                <th>Código</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Disponibilidade</th>
                <th></th>
            </thead>
            <tbody>
                <% for (let i = 0; i < lista.length; i++)  { %>
                    <tr>
                        <td><%= lista[i].codigo %></td>
                        <td><%= lista[i].nome %></td>
                        <td><%= lista[i].pessoacpf %></td>
                        <td><%= lista[i].disponibilidade %></td>
                        <td>
                            <a href="/voluntarios/alterar/<%= lista[i].codigo %>" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                            <a href="/voluntarios/deletar/<%= lista[i].codigo %>" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
