<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
        <!-- Tabela -->
            <div class="content" style="height: 100vh;">
                <div class="row">
                <div class="col-md-12">
                    <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Vendas Efetuadas</h4>
                    </div>
                    <div>
                        <!-- <a style="margin:10px" class="btn btn-primary new" style="float:right" href="/produtos/cadastrar" >Cadastrar Produto &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fa fa-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                            </svg>
                            </svg>
                        </a> -->

                        <!-- inicio do div do botao de excel e drop personalizar-->
                        <div style="margin: 0px 0px 15px 10px;">
                            <button id="btnExportarExcel" class="btn btn-success" >Exportar para Excel</button>
                            <button id="btnExportarPdf" class="btn btn-danger" onclick="window.print()" >Imprimir</button>
                        </div>
                        <div style="margin: 0px 0px 15px 10px;" id="divFiltros" class="row">
                            <label for="filtro">Filtros:</label>
                            <div class="input-group form-group">
                                <input id="filtro" type="text" placeholder="Digite um valor a ser filtrado..." class="form-control col-md-10 px-1 pl-3" aria-label="Text input with dropdown button">

                                <div class="input-group-append">
                                <div class="dropdown">
                                    <button id="btnEscolherFiltro" class="btn btn-primary dropdown-toggle " type="button" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">Filtros </button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item itemFiltro" href="#" data-valor="2" data-nome="Código da Venda " style="cursor:pointer">Código da Venda </a>
                                    <a class="dropdown-item itemFiltro" href="#" data-valor="1" data-nome="Nome do Produto" style="cursor:pointer">Nome do Produto</a>
                                  </div>
                                </div>
                                 
                                  <button id="btnFiltrar" class="btn btn-primary" type="button"><i class="nc-icon nc-zoom-split" style="margin-right: 10px;"></i> Buscar</button>
                                </div>
                            </div>
                        </div>

                        <!-- fim da div do botao de excel e drop personalizar-->

                    </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <table class="table" id="tabelaVendas">
                                <thead class="text-primary">
                                    <th>Código</th>
                                    <th>Data</th>
                                    <th>Cód. do Produto</th>
                                    <th>Descrição</th>
                                    <th>Valor Unitário</th>
                                    <th>Quantidade vendida</th>
                                    <th>Valor Total</th>
                                </thead>
                                <tbody>
                                    <% if(vendas.length > 0) { %>
                                        <% vendas.forEach(venda => { %>
                                            <tr>
                                                <td><%= venda.vendas_codigo %></td>
                                                <td><%= venda.data %></td>
                                                <td><%= venda.produtos_codigo %></td>
                                                <td><%= venda.descricao %></td>
                                                <td><%= venda.preco == null ? 'R$ 0,00' : parseFloat(venda.preco).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
                                                <td><%= venda.quantidade %></td>
                                                <td><%= venda.total == null ? 'R$ 0,00' : parseFloat(venda.total).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
                                            </tr>
                                        <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="7" class="text-center">Nenhuma Venda Encontrada.</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <footer class="footer footer-black  footer-white ">
            <div class="container-fluid">
                <div class="row">
                    <nav class="footer-nav">
                    <!-- <ul>
                        <li><a href="https://www.creative-tim.com" target="_blank"></a></li>
                        <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                        <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
                    </ul> -->
                    </nav>
                    <div class="credits ml-auto">
                        <span class="copyright">
                            © <script>
                            document.write(new Date().getFullYear())
                            </script>, <a href="nextechsolutions">NexTechSolutions</a> 
                        </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    </div>
    <!--   Core JS Files   -->
    <script src="/administrativo/js/core/jquery.min.js"></script>
    <!-- <script src="/administrativo/js/core/popper.min.js"></script> -->
    <script src="/administrativo/js/core/bootstrap.min.js"></script>
    <!-- <script src="/administrativo/js/plugins/perfect-scrollbar.jquery.min.js"></script> -->
    <!--  Google Maps Plugin    -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
    <!-- Chart JS -->
    <!-- <script src="/administrativo/js/plugins/chartjs.min.js"></script> -->
    <!--  Notifications Plugin    -->
    <!-- <script src="/administrativo/js/plugins/bootstrap-notify.js"></script> -->
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <!-- <script src="/administrativo/js/paper-dashboard.min.js?v=2.0.1" type="text/javascript"></script>Paper Dashboard DEMO methods, don't include it in your project! -->
    <!-- <script src="/administrativo/demo/demo.js"></script> -->
    <script src="https://cdn.sheetjs.com/xlsx-0.20.2/package/dist/xlsx.full.min.js"></script>

    <script>
    $(document).ready(function() {
    // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
    demo.initChartsPages();
    });
    </script>
    <script src="/js/vendas/vendas.js"></script>
    <script>
        document.getElementById('btnExportarExcel').addEventListener('click', function () {
            var tabela = document.getElementById('tabelaVendas');
            var nomeArquivo = 'vendas.xlsx';
            var workbook = XLSX.utils.table_to_book(tabela, {sheet: "Sheet 1"});
            XLSX.writeFile(workbook, nomeArquivo);
        });
    </script>
    </body>
</html>