<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
        <!-- Tabela -->
            <div class="content" style="height: 100vh;">
                <div class="row">
                <div class="col-md-12">
                    <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> Vendas Efetuadas</h4>
                    </div>
                    <div>
                        <!-- <a style="margin:10px" class="btn btn-primary new" style="float:right" href="/produtos/cadastrar" >Cadastrar Produto &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="fa fa-plus" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                            </svg>
                            </svg>
                        </a> -->

                        <!-- inicio do div do botao de excel e drop personalizar-->
                        <div style="margin: 0px 0px 15px 10px;">
                            <button id="btnExportarExcel" class="btn btn-success" >Exportar para Excel</button>
                            <button id="btnExportarPdf" class="btn btn-danger" onclick="window.print()" >Imprimir</button>
                        </div>
                        <div style="margin: 0px 0px 15px 10px;" id="divFiltros">
                            <label for="filtro">Filtros:</label>
                            <div class="input-group">
                                <input id="filtro" type="text" placeholder="Digite um valor a ser filtrado..." class="form-control" aria-label="Text input with dropdown button">
                                <div class="input-group-append">
                                  <button id="btnEscolherFiltro" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">Filtros</button>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item itemFiltro" data-valor="2" data-nome="Código Pedido" style="cursor:pointer">Código pedido</a>
                                    <a class="dropdown-item itemFiltro" data-valor="1" data-nome="Nome do Produto" style="cursor:pointer">Nome do Produto</a>
                                  </div>
                                  <button id="btnFiltrar" class="btn btn-primary" type="button"><i class="fa-search"></i> Buscar</button>
                                </div>
                              </div>
                        </div>

                        <!-- fim da div do botao de excel e drop personalizar-->

                    </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <table class="table" id="tabelaVendas">
                                <thead class="text-primary">
                                    <!-- corrigir as colunas q vai trazer na tabela -->
                                    <th>Código</th>
                                    <th>Data</th>
                                    <th>Cód. do Produto</th>
                                    <th>Descrição</th>
                                    <th>Valor Unitário</th>
                                    <th>Quantidade vendida</th>
                                    <th>Valor Total</th>
                                </thead>
                                <tbody>
                                    <% if(vendas.length > 0) { %>
                                        <% vendas.forEach(venda => { %>
                                            <tr>
                                                <td><%= venda.vendas_codigo %></td>
                                                <td><%= venda.data %></td>
                                                <td><%= venda.produtos_codigo %></td>
                                                <td><%= venda.descricao %></td>
                                                <td><%= venda.preco == null ? 'R$ 0,00' : parseFloat(venda.preco).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
                                                <td><%= venda.quantidade %></td>
                                                <td><%= venda.total == null ? 'R$ 0,00' : parseFloat(venda.total).toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %></td>
                                            </tr>
                                        <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="7" class="text-center">Nenhuma Venda Encontrada.</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <script src="/js/vendas/vendas.js"></script>
    </body>
</html>